@model Unimed.Agendamentos.UI.ViewModels.AgendamentoViewModel

@{
    ViewData["Title"] = "Novo Agendamento";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Create">
            
            <vc:Summary></vc:Summary>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MedicoId" class="control-label"></label>
                <select asp-for="MedicoId" class="form-control" asp-items="@(new SelectList(Model.Medicos, "Id", "Nome"))">
                    <option></option>
                </select>
                <span asp-validation-for="MedicoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacienteId" class="control-label"></label>
                <select asp-for="PacienteId" class="form-control" asp-items="@(new SelectList(Model.Pacientes, "Id", "Nome"))">
                    <option></option>
                </select>
                <span asp-validation-for="PacienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InicioAtendimento" class="control-label"></label>
                <input asp-for="InicioAtendimento" class="form-control" />
                <span asp-validation-for="InicioAtendimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FimAtendimento" class="control-label"></label>
                <input asp-for="FimAtendimento" class="form-control" />
                <span asp-validation-for="FimAtendimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <textarea asp-for="Observacao" cols="40" rows="2" class="form-control" value="" /></textarea>
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="btn-block">
                <a asp-action="Index" class="btn btn-info btn-sm">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
