@model IEnumerable<Unimed.Agendamentos.UI.ViewModels.AgendamentoViewModel>

@{
    ViewData["Title"] = "Lista de Agendamentos";
}

<h2>@ViewData["Title"]</h2>
<hr />
<vc:Summary></vc:Summary>.

<partial name="_ListaAgendamentos"/>